<div ng-controller="AdminController as admCtrl" class="container">
  <ul class="mb-5 nav nav-tabs table-responsive">
    <li class="nav-item">
      <a class="nav-link active" href="#">Account Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Category Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Order Details</a>
    </li>
  </ul>

  <blockquote class="blockquote text-center">
    <h3 style="font-family: Arial, Helvetica, sans-serif;" class="mb-0">Admin Details</h3>
  </blockquote><br>

  <table class=" mp-4 table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date joined</th>
        <th scope="col">Last Login</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>Otto</td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Otto</td>
        <td>Otto</td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table><br><br>

  <blockquote class="blockquote text-center">
    <h3 style="font-family: Arial, Helvetica, sans-serif;" class="mb-0">User Details</h3>
  </blockquote><br>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date joined</th>
        <th scope="col">Last Login</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td><button type="button" class="btn btn-primary">Make Admin</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td><button type="button" class="btn btn-primary">Make Admin</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <li ng-repeat="detail in adCtrl.details">
  <input type="checkbox" ng-model="todo.done" id="{{todo.ID}}" ng-change="todoCtrl.updateTodo(todo)">
  <label for="{{todo.ID}}" ng-class="{'done': todo.done}" ng-hide="todo.editing">{{todo.todo}}</label>
  <input type="text" ng-model="todo.todo" ng-show="todo.editing" class="edit-input">
  <div class="button-group">
      <button class="todo-button delete-button" ng-click="todoCtrl.deleteTodo(todo.ID)" ng-hide="todo.editing">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"/>
          </svg>
      </button>
      <button class="todo-button edit-button" ng-click="todoCtrl.editTodo(todo)" ng-hide="todo.editing">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          </svg>
      </button>
      <button class="todo-button save-button" ng-click="todoCtrl.updateTodo(todo)" ng-show="todo.editing">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
          </svg>
      </button>
      <button class="todo-button cancel-button" ng-click="todoCtrl.cancelEdit(todo)" ng-show="todo.editing">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          </svg>
      </button>
  </div>
</li> -->